*.DS_Store
*__pycache__/
**/build/
.venv
.vscode/
outputs/*.json
outputs/*.png
outputs/*.csv
outputs/*.log

# ROS folders
ros2/build/**
ros2/install/**
ros2/log/**

dist/

# pixi environments
.pixi/
*.egg-info
*.conda